[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
python-decouple = "*"
pytest = "*"
django-widget-tweaks = "*"
django-ckeditor = "*"
install = "*"
django-countries = "*"

[dev-packages]
autopep8 = "*"
pep8 = "*"
pylint = "*"
pylint-django = "*"
pytest-django = "*"
isort = "*"
docformatter = "*"
pytest-cov = "*"
selenium = "==3.141"
flake8 = "*"

[requires]
python_version = "3.8"
