{% extends 'base.html' %}
{% load static %}


{% block title %} En détail : {{object.label}} {% endblock title%}
{% block page-title %} En détail : {{object.label|safe}} {% endblock page-title %}
{% block content-main %}

<div class="card-header">
    <a href="{% url 'practices-list' %}">
        <button class="btn btn-primary">Retour à la liste</button>
    </a>  
</div>
<div class="card-body">
    <div class="col-12 col-lg-10">
        <div class="tab tab-vertical">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="#vertical-icon-tab-1" data-bs-toggle="tab" role="tab">
                        <i class="align-middle" data-feather="home">Description</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#vertical-icon-tab-2" data-bs-toggle="tab" role="tab">
                        <i class="align-middle" data-feather="award">Compétences</i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="align-middle" data-feather="more-horizontal"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'practice-update' pk=practice.id %}" data-bs-toggle="tab" role="tab">
                        <i class="align-middle fas fa-fw fa-pen"></i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="vertical-icon-tab-1" role="tabpanel">
                    <h4 class="tab-title">Description</h4>
                    {{object.description|safe}}
                    <h4 class="tab-title">Applicable pour les catégories suivantes</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th style="width:90%;">Catégorie</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in object.categories.all %}
                            <tr>
                                <td>
                                    {{category.label|title|safe}}
                                </td>
                            </tr>
                            {% empty %}
                            <p>Pas de catégories associées à cette exercice</p>
                            <p>Alors à quoi sert il ?</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="vertical-icon-tab-2" role="tabpanel">
                    <h4 class="tab-title">Compétences visées</h4>
                    <table class="table table-striped">
                        <tbody>
                            {% for skill in object.skills.all %}
                            <tr>
                                <td>
                                    {{skill.label|title|safe}}
                                </td>
                            </tr>
                            {% empty %}
                            <p>Pas de compétences associées à cette exercice</p>
                            <p>Alors à quoi sert il ?</p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="my-5">&nbsp;</div>
</div>

{% endblock content-main %}