<div class="card">
    <div class="card-header">
        <h5 class="card-title">Rechercher un exercice</h5>
    </div>
    <div class="card-body">
        <form action="{% url 'practices-list' %}" method="get" class="row row-cols-md-auto align-items-center">
            <div class="col-12">
                <label class="visually-hidden" for="inlineFormInputName2">Titre de l'exercice</label>
                <input name="q" type="text" class="form-control mb-1 me-sm-1" id="inlineFormInputName2"
                    placeholder="Jeux de l'oie">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
            </div>
        </form>
    </div>
</div>