{% extends 'base.html' %}
{% load static %}


{% block title %} Liste des managers {% endblock title%}
{% block page-title %} Liste des éducateurs pour la saison {{active_season.label}} {% endblock page-title %}
{% block content-main %}
<div class="card-body">
    {% include "users/search_form_manager.html" %}
    {% include "users/table-list_manager.html" %}
    {% include "users/paginator.html" %}
    <div class="my-5">&nbsp;</div>
</div>

{% endblock content-main %}

{% block scripts %}
<script src="{% static '/dist/js/suggestuser.js' %}"></script>
{% endblock scripts %}