<div class="card">
    <div class="card-header">
        <h5 class="card-title">Recherche</h5>
    </div>
    <div class="card-body">
        <form action="{% url 'managers_list' category_id=category_id  season_id=active_season.id %}" method="get"
            class="row row-cols-md-auto align-items-center">
            {% csrf_token %}
            <div id='autocomplete' class="col-12 autocomplete">
                <label class="visually-hidden " for="inlineFormInputName2">Nom d'un manager</label>
                <input name="query" type="text" class="form-control mb-1 me-sm-1 autocomplete-input"
                    placeholder="Entrer un nom ou un prénom">
                <ul class="autocomplete-result-list"></ul>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
            </div>
        </form>
    </div>
</div>